# Dependencies
node_modules/
.packages
.pub-cache/
.pub/

# Build
dist/
build/
.dart_tool/

# Environment
.env
!.env.example

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Flutter
app/.flutter-plugins-dependencies

# Prisma
api/prisma/migrations/**/migration_lock.toml

# Logs
*.log
